@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  margin-top: 4px;
  margin-bottom: 4px;
}

h3 {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

@layer base {
  .btn {
    @apply bg-blue-500 text-white font-bold text-lg rounded h-10 w-10;
  }

}